# Minecraft
*.mcaddon
*.mcpack
*.mcworld
world_behavior_packs*.json
world_resource_packs*.json

# Build artifacts and old versions
*.zip
wojanshop_behavior_pack/
wojanshop_resource_pack/

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/settings.json
.idea/

# Node
node_modules/
package-lock.json

# Temp
temp/
*.log
*.tmp
